.App {
    margin: 5px;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 90vh;
}

.wrapperBtn {
    height: 100%;
    margin: 0 auto;
    border: 1px solid;
    width: 70vw;
    display: flex;
    justify-content: space-around;
    position: relative;
    align-items: center;
}